---
layout: default
---
<h2>{{ page.title }}</h2>
<p>{{ page.date | date_to_string }}</p>
<p class="meta">
    {% for author in page.authors do %}
    <div class="author">
        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40"><br />
        <span class="name">{{ author.name }}</span><br />
        <span class="github">
            <a href="http://github.com/{{ author.github }}">
                http://github.com/{{ author.github }}
            </a>
        </span>
    </div>
    {% endfor %}
</p>

<div class="post">
{{ content }}
</div>

<div class="general">
    <br /><br />
    <h3>General</h3>
    <ul>
        {% for item in page.general do %}
            <li>The {{item.name}} can be found <a href="{{item.link}}">Here</a></li>
        {% endfor %}
        <li>You can find KickShot the board game at <a href="//kickshot.org">KickShot.org</a></li>
    </ul>
</div>
